@use 'customs' as c;

@media (min-width: 576px) {
    .product-card {
        width: clamp(175px, calc(120px + 10vw), 260px) !important;
    }
}

.product-section {

    i {
        font-size: 1.4rem;
    }    
    
    .product-card {
        width: 175px;
        min-height: 440px;
        
        .card-body {
            padding: 10px;
        }
        .card-footer {
            background: none !important;
            border: none;
            padding: 10px;
            padding-top: 0;

            h5{
                font-weight: 400;
            }
        }
        
        a, a:visited {
            color: #000;
        }
        
        .card-img-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: clamp(145px, calc(100px + 10vw), 240px);
        }

        img {
            transition: transform 0.3s ease-in-out;
            object-fit: cover;
            height: 100%;
            &:hover {
                transform: scaleY(1.1) scaleX(1.1);
            }
        }
    }
}

.btn-container{
    display: flex;
    justify-content: center;

    >:nth-child(1) {
        padding-inline: 20px;
        width: 80%;
    }

    .buy-btn {
        padding-block: 5px;
        
    
        i {
            font-size: 1rem;
        }
    }
}

.btn-info:hover {
    background-color: c.$primary;
    border-color: c.$primary;
}