@use 'customs' as c;
@use 'globals';
@use 'login_form';
@use 'products';




// menu 
.menu-items {
    a {
        text-decoration: none;
        color: black;
        font-size: 1.125rem;
    }
}

// carousel
.c-item {
    height: clamp(240px, 40vw, 420px);
}

.c-img {
    height: 100%;
    object-fit: cover;
}


// product filter
.filter {
    border: 0.1px solid c.$filter-border;
    background-color: c.$gray-100;
    min-width: 220px;
    height: 100%;
    min-height: 50vh;
    flex-direction: column;

    
    section:hover {
        background-color: c.$gray-200;
    }

    .filter-group {

        &:not(:last-child){
            border-bottom: 0.5px solid c.$filter-border;
        }
        
        &:last-child {
            flex-grow: 1;
        }
    }

    .price-filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 220px;
        
        
        p {
            width: 100%;
        }

        input {
            width: 40%;
        }
       
    }
    .form-check {
        font-size: 14px;
        
        label:hover,
        input:hover {
            color: c.$primary;
            cursor: pointer;
        }
    }  

}
// ADD to Cart MODAL
.addtocart-modal {
    img {
        width: 100px;
    }

    .cart-total {
        font-size: 14px;
    }
}
// cart offcanvas
.offcanvas-body {
    
    .cart-img-container {
        width: 40%;

        .cart-img {
            width: 100%;
        }
    }
    

    .cart-item-description, .subtotal {
        font-weight: 500;
        font-size: 1.1rem;
    }

    .item-quantity {
        width: 60%;

        button {
            width: fit-content;
        }

        .delete {
            background: none;
            color: rgb(236, 42, 42);

            &:hover {
                color: rgb(197, 7, 7);
            }
        }

        
    }

    .shopping-btn {

        button {
            border: none;

            &:hover {
                background-color: c.$primary;
            }
        }
    }
}

// description page
.description-header {
    .description-addcart {
        color: white;

        &:hover {
            background-color: c.$info;
        }
    }
}

.description-sidebar {
    li {
        list-style-type: disc;
    }

    ul {
        padding-left: 15px;
    }

    .card-body {
        font-size: 14px;
    }

    .warranty {
        .bi-check2 {
            color: white
        }
    }

    .payment {
        .img-container {
            display: flex;
            align-items: center;
            width: 60px;
            height: 30px;
            img{
                width: 100%;
                
            }
        }
        
    }
}

.description-body {
    .p-header {
        font-weight: 500;
    }

    p {
        font-size: 13px;
        
    }

    li {
        list-style-type: disc;
        font-size: 13px;
    }

    .specifications {
        p {
            margin-bottom: 0;
            font-size: 13px;
        }
    }
}

// checkout page 
.checkout-container {
    form {
        p {
            font-weight: 500;
        }
        min-width: 320px;

        & > input, label {
            width: 100%;
        }
        
        & > label {
            padding-bottom: 10px;
        }

        & > input {
            margin-bottom: 10px;
        }

        .payment-option {
            img {
                height: 15px;
                margin-right: 20px;
            }

            div {
                margin-block: 2px;
            }

            label, input {
                width: auto;
            }

            label {
                margin-right: 30px;
            }
        }

        button {
            color: white;
        }
    }
   
}